  body {
      background-image: url(images/background.jpg);
      font-size: 45px;
      line-height: 1.5;
      color: rgb(26, 83, 39);
      font-weight: bolder;
      font-size: 15px;
      font-weight: 400;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
  }
  
  .heading-title {
      margin-bottom: 100px;
  }
  
  .text-center {
      text-align: center;
  }
  
  .heading-title h3 {
      margin-bottom: 0;
      letter-spacing: 2px;
      font-weight: normal;
  }
  
  .p-top-30 {
      padding-top: 30px;
  }
  
  .half-txt {
      width: 60%;
      margin: 0 auto;
      display: inline-block;
      line-height: 25px;
      color: #7e7e7e;
  }
  
  .text-uppercase {
      text-transform: uppercase;
  }
  
  .team-member,
  .team-member .team-img {
      position: relative;
  }
  
  .team-member {
      overflow: hidden;
  }
  
  .team-member,
  .team-member .team-img {
      position: relative;
  }
  
  .team-hover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      border: 20px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(204, 226, 221, 0.9);
      opacity: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .team-member:hover .team-hover .desk {
      top: 35%;
  }
  
  .team-member:hover .team-hover,
  .team-member:hover .team-hover .desk,
  .team-member:hover .team-hover .s-link {
      opacity: 1;
  }
  
  .team-hover .desk {
      position: absolute;
      top: 0%;
      width: 100%;
      opacity: 0;
      -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
      transform: translateY(-55%);
      -webkit-transition: all 0.3s 0.2s;
      transition: all 0.3s 0.2s;
      padding: 0 20px;
  }
  
  .desk,
  .desk h4,
  .team-hover .s-link a {
      text-align: center;
      color: #222;
  }
  
  .team-member:hover .team-hover .s-link {
      bottom: 10%;
  }
  
  .team-member:hover .team-hover,
  .team-member:hover .team-hover .desk,
  .team-member:hover .team-hover .s-link {
      opacity: 1;
  }
  
  .team-hover .s-link {
      position: absolute;
      bottom: 0;
      width: 100%;
      opacity: 0;
      text-align: center;
      -webkit-transform: translateY(45%);
      -ms-transform: translateY(45%);
      transform: translateY(45%);
      -webkit-transition: all 0.3s 0.2s;
      transition: all 0.3s 0.2s;
      font-size: 35px;
  }
  
  .desk,
  .desk h4,
  .team-hover .s-link a {
      text-align: center;
      color: rgb(235, 25, 25);
      font-size: 25px;
      font-weight: bolder;
  }
  
  .team-member .s-link a {
      margin: 0 10px;
      color: #333;
      font-size: 16px;
  }
  
  .team-title {
      position: static;
      padding: 20px 0;
      display: inline-block;
      letter-spacing: 2px;
      width: 100%;
      text-align: center;
  }
  
  .team-title h5 {
      margin-bottom: 0px;
      display: block;
      text-transform: uppercase;
  }
  
  .team-title span {
      font-size: 12px;
      text-transform: uppercase;
      color: #a5a5a5;
      letter-spacing: 1px;
  }
  /* PROJCARD */
  
  .projcard-container,
  .projcard-container * {
      box-sizing: border-box;
  }
  
  .projcard-container {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
  
  .projcard {
      position: relative;
      width: 100%;
      height: 400px;
      margin-bottom: 40px;
      border-radius: 10px;
      background-image: url(images/background2.jpg);
      border: 5px solid #ddd;
      font-size: 18px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
      transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  
  .projcard:hover {
      box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
      transform: translate(0px, -3px);
  }
  
  .projcard::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(-70deg, #424242, transparent 50%);
      opacity: 0.07;
  }
  
  .projcard:nth-child(2n)::before {
      background-image: linear-gradient(-250deg, #424242, transparent 50%);
  }
  
  .projcard-innerbox {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  
  .projcard-img {
      padding-top: 50px;
      padding-right: 30px;
      position: absolute;
      height: 350px;
      width: 300px;
      top: 0;
      left: 0;
      transition: transform 0.2s ease;
  }
  
  .projcard:nth-child(2n) .projcard-img {
      left: initial;
      right: 0;
  }
  
  .projcard:hover .projcard-img {
      transform: scale(1.05) rotate(1deg);
  }
  
  .projcard:hover .projcard-bar {
      width: 70px;
  }
  
  .projcard-textbox {
      position: absolute;
      top: 7%;
      bottom: 7%;
      left: 430px;
      width: calc(100% - 470px);
      font-size: 17px;
  }
  
  .projcard:nth-child(2n) .projcard-textbox {
      left: initial;
      right: 430px;
  }
  
  .projcard-textbox::before,
  .projcard-textbox::after {
      content: "";
      position: absolute;
      display: block;
      background: rgb(206, 228, 207);
      top: -20%;
      left: -55px;
      height: 140%;
      width: 60px;
      transform: rotate(8deg);
  }
  
  .projcard:nth-child(2n) .projcard-textbox::before {
      display: none;
  }
  
  .projcard-textbox::after {
      display: none;
      left: initial;
      right: -55px;
  }
  
  .projcard:nth-child(2n) .projcard-textbox::after {
      display: block;
  }
  
  .projcard-textbox * {
      position: relative;
  }
  
  .projcard-title {
      font-family: 'Voces', 'Open Sans', arial, sans-serif;
      font-size: 24px;
  }
  
  .projcard-subtitle {
      font-family: 'Voces', 'Open Sans', arial, sans-serif;
      color: #888;
  }
  
  .projcard-bar {
      left: -2px;
      width: 50px;
      height: 5px;
      margin: 10px 0;
      border-radius: 5px;
      background-color: #424242;
      transition: width 0.2s ease;
  }
  
  .projcard-blue .projcard-bar {
      background-color: #113f26;
  }
  
  .projcard-blue::before {
      background-image: linear-gradient(-70deg, #b1e0a2, transparent 50%);
  }
  
  .projcard-blue:nth-child(2n)::before {
      background-image: linear-gradient(-250deg, #548b52, transparent 50%);
  }
  
  .projcard-description {
      z-index: 10;
      font-size: 12px;
      color: #fcf8f8;
      height: 125px;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  .projcard-tagbox {
      position: absolute;
      bottom: 3%;
      font-size: 15px;
  }
  
  .projcard-tag {
      display: inline-block;
      background-image: url(images/background1.jpg);
      color: rgb(238, 238, 229);
      border-radius: 3px 0 0 3px;
      line-height: 26px;
      padding: 0 10px 0 23px;
      position: relative;
      margin-right: 20px;
  }
  
  .projcard-tag::before {
      content: '';
      position: absolute;
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 3px rgba(192, 120, 120, 0.25);
  }
  
  .projcard-tag::after {
      content: '';
      position: absolute;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #E0E0E0;
      border-top: 13px solid transparent;
      right: -10px;
      top: 0;
  }
  /* RIGHT */
  
  .snip1581 {
      font-family: 'Poppins:400,700', Arial, sans-serif;
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 10px;
      min-width: 150px;
      max-width: 310px;
      width: 100%;
      background-image: url(images/background1.jpg);
      color: #ffffff;
      text-align: left;
      font-size: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  .snip1581 * {
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .snip1581 img {
      max-width: 100%;
      vertical-align: top;
  }
  
  .snip1581 figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
  
  .snip1581 h3 {
      font-size: 30px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 3px 0;
  }
  
  .snip1581 .title1 {
      font-weight: 700;
      color: cornsilk;
      text-align: center;
  }
  
  .snip1581 .title2 {
      color: rgb(235, 82, 21);
      font-weight: bolder;
      text-align: center;
  }
  
  .snip1581 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  
  .snip1581:hover img,
  .snip1581.hover img {
      -webkit-transform: scale(1.3) rotate(5deg);
      transform: scale(1.3) rotate(5deg);
  }
  
  .text1 {
      text-align: center;
      color: #113f26;
  }
  /* MAIN5 */
  
  .snip1584 {
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 10px;
      min-width: 230px;
      max-width: 315px;
      width: 100%;
      color: #ffffff;
      font-size: 16px;
      text-align: left;
  }
  
  .snip1584 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
  }
  
  .snip1584:before {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      top: 100%;
      content: '';
      background-color: rgba(181, 236, 206, 0.9);
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
  }
  
  .snip1584 img {
      vertical-align: top;
      max-width: 100%;
      backface-visibility: hidden;
  }
  
  .snip1584 figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .snip1584 h3,
  .snip1584 h5 {
      margin: 0;
      opacity: 0;
      letter-spacing: 1px;
  }
  
  .snip1584 h3 {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      text-transform: uppercase;
      font-weight: 400;
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      margin-bottom: 5px;
  }
  
  .snip1584 h5 {
      font-weight: normal;
      background-image: url(images/background1.jpg);
      padding: 3px 10px;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
  }
  
  .snip1584 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
  }
  
  .snip1584:hover:before,
  .snip1584.hover:before {
      top: 10px;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
  }
  
  .snip1584:hover h3,
  .snip1584.hover h3,
  .snip1584:hover h5,
  .snip1584.hover h5 {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
  }
  
  .snip1584:hover h3,
  .snip1584.hover h3 {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
  }
  
  .snip1584:hover h5,
  .snip1584.hover h5 {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
  }
  /* má»¥c */
  
  .dropbtn2 {
      background-image: url(images/background1.jpg);
      color: rgb(20, 3, 3);
      font-weight: 900;
      padding: 16px;
      font-size: 15px;
      border: none;
      cursor: pointer;
  }
  
  .dropdown2 {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: rgb(218, 198, 170);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }
  
  .dropdown-content2 a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 11px;
  }
  
  .dropdown-content2 a:hover {
      background-color: #f1f1f1
  }
  
  .dropdown2:hover .dropdown-content2 {
      display: block;
  }
  
  .dropdown2:hover .dropbtn2 {
      background-color: E#c6dfc7;
  }
  
  table {
      width: 400px;
  }
  /* button */
  
  .hoverbutton {
      font-family: 'Raleway', Arial, sans-serif;
      border: none;
      background-image: url(images/background1.jpg);
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      padding: 30px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      line-height: 46px;
      font-weight: 400;
      font-size: 1em;
      outline: none;
      position: relative;
      overflow: hidden;
      font-size: 16px;
      border-radius: 23px;
      letter-spacing: 2px;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .hoverbutton:before {
      opacity: 0;
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: inherit;
      background-color: #ffffff;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  .hoverbutton:after {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border: 5px solid #113a21;
      content: '';
      border-radius: inherit;
  }
  
  .hoverbutton:hover,
  .hoverbutton.hover {
      background-color: #7cdba0;
      color: #ffffff;
  }
  
  .hoverbutton:hover:before,
  .hoverbutton.hover:before {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 0.25;
  }
  /* Buttonnext */
  
  .buttonnext {
      padding: 15px 40px;
      background-image: url(images/background1.jpg);
      border: 0;
      color: #fff;
      text-transform: uppercase;
      font-family: helvetica;
      font-size: 12px;
      letter-spacing: 3px;
      position: relative;
      transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
      display: block;
      margin: 100px auto;
  }
  
  .buttonnext::after,
  .buttonnext::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      opacity: 0;
      transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .buttonnext::after {
      width: 30px;
      height: 1px;
      background: rgb(219, 211, 211);
      transform: translateX(-3px);
      margin-top: 0px;
  }
  
  .buttonnext::before {
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      margin-top: -1px;
  }
  
  .buttonnext:hover {
      padding: 15px 60px 15px 20px;
  }
  
  .buttonnext:hover::after,
  .buttonnext:hover::before {
      opacity: 1;
      right: 15px;
  }